$bg-color: rgb(240, 240, 240);
$dark-bg-color: rgb(8, 24, 36);
$white: rgb(255,255,255);
$dark-blue: rgb(2, 80, 188);
$very-dark-blue: rgb(10, 59, 79);
$light-blue: rgb(70, 137, 131);
$yellow: rgb(242, 186, 0);
$dark-yellow: rgb(242, 157, 0);
$light-grey: rgb(217, 217, 217);